@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: #0d1117;
}

.nav_bar {
    top: 0;
    z-index: 11;
}

.card_container {
    @apply grid gap-4 grid-cols-1 mt-6 mx-8;
}

.card {
    @apply mx-auto opacity-90 bg-gray-800 rounded-xl h-[220px] shadow-md overflow-hidden md:max-w-2xl;
}

.card_title {
    @apply block mt-1 text-lg leading-tight font-medium text-white;
}

.btn-blue {
    @apply bg-indigo-500 font-semibold text-white p-2 w-24 rounded-lg hover:bg-indigo-800 focus:outline-none focus:ring shadow-lg hover:shadow-none transition-all duration-300 m-2;
}

.modal {
    @apply relative bg-gray-800 rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:my-8 sm:max-w-fit sm:w-full;
}

@screen xs {
    .card_comp {
        @apply grid grid-rows-3 grid-flow-col gap-1;
    }
}

@screen sm {
    .card_container {
        @apply grid gap-4 grid-cols-1 mx-8;
    }
}

@screen md {
    #root {
        @apply h-screen;
    }

    .card_comp {
        @apply grid grid-rows-3 grid-flow-col gap-1;
    }

    .card_container {
        @apply grid gap-4 grid-cols-2 mx-8;
    }
}

@screen lg {
    .card_container {
        @apply grid gap-4 grid-cols-3 mx-8;
    }
    #root {
        @apply h-fit;
    }
}

@screen xl {
    .card_container {
        @apply grid gap-4 grid-cols-4 mx-8;
    }
}

@screen 2xl {
    .card_container {
        @apply grid gap-4 grid-cols-4 mx-8;
    }
}

.hover\:text-li:hover {
    --tw-text-opacity: 1;
    color: #6366f1;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
}

.react-pdf__Page__canvas {
    margin: 0 auto;
    width: 100% !important;
    height: 100% !important;
    @apply rounded-md;
}